@charset "UTF-8";

:root {
    --cor0: #dad7cd;
    --cor1: #a3b18a;
    --cor2: #588157;
    --cor3: #3a5a40;
    --cor4: #344e41;
}

body {
    background-color: #a3b18a;
}

/* header */

.header {
    display: grid;
    grid-template-columns: 60px 60px 60vw 100px;
    grid-template-rows: auto;
    grid-template-areas: 'menu logo pesquisa usuario';

    align-items: center;
    justify-content: center;

    background-color: var(--cor2);
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
}

.header_menu {
    width: 50px;
    height: 50px;
    background-color: var(--cor1);
}

.header_logo {
    width: 80px;
    height: 80px;
}

.header_logo img {
    width: 100%;
    height: 100%;
}

.header_pesquisa {
    width: 50vw;
    height: 30px;
    justify-self: center;
}

.header_pesquisa input {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 1em;
    color: rgb(41, 41, 41);
    padding-left: 20px;
}

input[type="search"]:focus-within {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header_user {
    width: 100px;
    height: 30px;
    background-color: var(--cor1);
}

.header_carrinho {
    width: 100px;
    height: 30px;
    background-color: var(--cor1);
}

/* main */

main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.promo {
    background-color: rgba(255, 255, 255, 0.288);
    width: 60vw;
    height: 200px;
    margin-bottom: 20px;
}

.home_produtos {
    background-color: rgba(255, 255, 255, 0.288);
    width: 60vw;
    height: 300px;
}